@import "null";
@import "spacing";
@import "variables";

.image {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;

  img {
    object-fit: contain
  }

  .grid {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
}




