@import "null";
@import "spacing";
@import "variables";

.image {
  height: 80%;
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;

  img {
    object-fit: contain;
  }

  .grid {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;

    .grid__item {
      box-shadow: 0 0 1px grey;
      cursor: pointer;

      &:hover {
        border: 1px solid black;
      }
    }
  }
}



